/.idea
*.xml
*.iml
desktop.ini

*.aux
*.log
*.synctex
*.synctex.gz
*.toc
*.bbl
*.blg
*.out
SelfArx.cls

/01_Tokenisation/01a/pragmatic_segmenter
/01_Tokenisation/01a/UD_Japanese-GSD
/Project/Proposal/old
/Project/Chuvash Data/
/Project/Systems/
/Project/Resources/