/.idea
desktop.ini

*.aux
*.synctex
*.synctex.gz
*.toc
*.bbl
*.blg
*.cls

/01_Tokenisation/01a/iswiki-20190101-pages-articles.xml
/Project/Data/
/Project/Systems/
/Project/Documentation & Resources/Report/acl18-latex