/.idea
*.xml
*.iml
desktop.ini

*.aux
*.log
*.synctex
*.synctex.gz
*.toc
*.bbl
*.blg
*.out
SelfArx.cls

/01_Tokenisation/01a/data
/01_Tokenisation/01a/tools
/03_Disambiguation/tools
/Project/Data
/Project/Systems/